<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>Add Coach</title>
</head>

<body>
    <h1>Add Coach</h1>
    <div>
        <form action='/coach/add' method='POST'>

            <label for='coachname'>coachname:</label>
            <input type='text' id='coachname' name='coachname'><br>
            <label for='clubname'>clubname:</label>
            <input type='text' id='clubname' name='clubname'><br>
            <label for='coachnation'>coachnation:</label>
            <input type='text' id='coachnation' name='coachnation'><br>
            <label for='coachage'>coachage:</label>
            <input type='number' id='coachage' name='coachage'><br>

            <input type='submit' value='Add'>
            <a href="{{ url_for('coach') }}">cancel</a>
        </form>
    </div>
</body>

</html>